<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="200px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="/home">
                <img src="../../../assets/logo.png" alt="logo">
                <h1>Experiment</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="true">
            <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/page1">Experiments</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/page2">Ingredients</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                </span>
                <!-- <div class="newButton" *ngIf="canShowNewExperiment$|async">
                    <button nz-button nzType="primary">
                        <a [routerLink]="['/experiments/new','info']">
                            New Experiment
                        </a>
                    </button>
                </div>
                <div class="newButton" *ngIf="canShowNewIngredient$|async">
                    <button nz-button nzType="primary">
                        <a [routerLink]="['/ingredients/new','info']">
                            New Ingredient
                        </a> 
                    </button>
                </div> 
                <div style="position: absolute;right: 80px;top: 0;">
                    <h2>Hello, {{givenName}}</h2>
                </div> -->
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
  </nz-layout>