<!-- <p>page1 works!</p>

<div *ngIf="csvData">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of csvData.headers">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of csvData.rows[0]">
        <td>{{ row }}</td>
      </tr>
    </tbody>
  </table>
</div>

 -->

<!-- Section 1 -->
<nz-card nzTitle="1.Data selection">
  <p
    style="
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
      margin-bottom: 16px;
      font-weight: 500;
    "
  >
    Group title
  </p>

  <!-- Section 1.1 -->
  <nz-card nzType="inner" nzTitle="1.1 Select Data">
    <div class="card-description">
      Data selection is a crucial step in any data analysis process. The choice
      of variables can significantly impact the quality of your insights and the
      validity of your conclusions. <br />
      In this section, you will select X (independent) and Y (dependent)
      variables for your analysis.
    </div>
    <br />
    <p style="color: #999">
      - Please select columns/column names you are interested <br />
      - you can select multiple feature variables and only one target variable
    </p>
    <div class="innerContent">
      <!-- feature -->
      <div class="selection-box">
        <p>Select Feature variables</p>
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Nothing selected"
          [(ngModel)]="listOfSelectedFeatureVariables"
          nzAllowClear
          (ngModelChange)="resetTargetIfMatch()"
        >
          <nz-option
            *ngFor="let item of listOfOption"
            [nzLabel]="item"
            [nzValue]="item"
          ></nz-option>
        </nz-select>
      </div>

      <!-- target -->
      <div class="selection-box">
        <p>Select Target variables</p>
        <nz-select
          nzPlaceHolder="Nothing selected"
          [(ngModel)]="listOfselectedTargetVariable"
          nzAllowClear
        >
          <nz-option
            *ngFor="let item of listOfOption"
            [nzLabel]="item"
            [nzValue]="item"
            [nzDisabled]="listOfSelectedFeatureVariables.includes(item)"
          ></nz-option>
        </nz-select>
      </div>
    </div>
  </nz-card>

  <!-- Section 1.2 -->
  <nz-card nzType="inner" style="margin-top: 16px" nzTitle="1.2 Filter Data">
    <div class="card-description">
      Data filtration is an essential step in the data analysis process.
    </div>
    <button
      style="margin-top: 16px"
      nz-button
      nzType="primary"
      (click)="addFilterGroup()"
      [disabled]="listOfSelectedFeatureVariables.length === 0"
    >
      Add filter
    </button>
    <div *ngFor="let group of filterGroups; let i = index">
      <div class="innerContent">
        <!-- column -->
        <div class="selection-box">
          <p>Select column name</p>
          <nz-select
            nzPlaceHolder="Nothing selected"
            [(ngModel)]="group.listOfSelectedFilterColumn"
            nzAllowClear
            (ngModelChange)="resetTargetIfMatch(); updateSelectedFilterValue(i)"
          >
            <nz-option
              *ngFor="let item of combinedFeatureAndTargetVariables"
              [nzLabel]="item"
              [nzValue]="item"
            ></nz-option>
          </nz-select>
        </div>

        <!-- operator -->
        <div class="selection-box">
          <p>Select operator</p>
          <nz-select
            nzPlaceHolder="Nothing selected"
            nzAllowClear
            [(ngModel)]="group.listOfSelectedOperator"
          >
            <nz-option
              *ngFor="let item of listOfOperator"
              [nzLabel]="item"
              [nzValue]="item"
            ></nz-option>
          </nz-select>
        </div>

        <!-- value -->
        <div class="selection-box">
          <p>Select value</p>
          <nz-select nzPlaceHolder="Nothing selected" nzAllowClear>
            <nz-option
              *ngFor="
                let item of group.listOfSelectedFilterValue | uniqueValues
              "
              [nzLabel]="item"
              [nzValue]="item"
            ></nz-option>
          </nz-select>
        </div>
        <button nz-button nzType="default" (click)="removeFilterGroup(i)">
          Remove
        </button>
      </div>
    </div>
  </nz-card>
</nz-card>
