<div>
  <form #uploadForm="ngForm" (ngSubmit)="uploadFile()">
    <input type="file" (change)="onFileSelected($event)" accept=".csv" />
    <button nz-button nzType="primary" type="submit" [disabled]="!selectedFile">
      Upload CSV
    </button>
  </form>
</div>

<div *ngIf="csvData">
  <button
    nz-button
    nzType="primary"
    nzShape="round"
    nzSize="small"
    (click)="showModal()"
    style="margin: 8px"
  >
    <span nz-icon nzType="setting" nzTheme="outline"></span>
    Configure column
  </button>

  <nz-table
    #basicTable
    [nzData]="listOfData"
    [nzLoading]="isLoading"
    [nzCustomColumn]="customColumn"
    nzShowSizeChanger
    [nzTitle]="titleText"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    [nzNoResult]="'Empty Data Entry'"
    style="width: 100%; overflow-x: auto"
  >
    <thead>
      <tr>
        <th
          *ngFor="let column of customColumn"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
          nzCellControl="{{ column.value }}"
        >
          {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of visibleRows">
        <td
          *ngFor="let item of row; let i = index"
          [nzCellControl]="customColumn[i].value"
        >
          {{ item }}
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="center-button">
    <button
      nz-button
      nzType="primary"
      nzShape="round"
      (click)="startAnalysis()"
    >
      Start Analysis
    </button>
  </div>
</div>
<div *ngIf="!csvData">
  <nz-divider nzText="Data Preview"></nz-divider>
  <nz-empty></nz-empty>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Custom Column"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <p>Drag the column to arrange the column list and order</p>
    <div nz-row [nzGutter]="24">
      <!-- shown -->
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="example-container">
          <p>Displayed</p>
          <!-- title: {position: 'left', required: true} -->
          <div class="example-box" *ngFor="let item of title">
            {{ item.name }}
          </div>
          <!-- droppable -->
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="fix"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              *ngFor="let item of fix; let i = index"
              cdkDrag
            >
              {{ item.name }}
              <span
                nz-icon
                nzType="minus-circle"
                nzTheme="outline"
                (click)="deleteCustom(item, i)"
              ></span>
            </div>
          </div>
          <!-- footer: {position: 'right', required: true}  -->
          <div class="example-box" *ngFor="let item of footer">
            {{ item.name }}
          </div>
        </div>
      </div>
      <!-- not shown -->
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="example-container">
          <p>Not Shown</p>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="notFix"
            [cdkDropListConnectedTo]="[todoList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              *ngFor="let item of notFix; let i = index"
              cdkDrag
            >
              {{ item.name }}
              <span
                nz-icon
                nzType="plus-circle"
                nzTheme="outline"
                (click)="addCustom(item, i)"
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
